@-moz-viewport { width: device-width; scale: 1;	}
@-ms-viewport { width: device-width; scale: 1;	}
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width, scale: 1; }
@viewport { width: device-width; scale: 1;	}



body{
	background-image:url(../images/wood_1.png);
	background-repeat:repeat;
}

.title {
	position:absolute;
	height: 410 px;
	width: 410px;
	top: 130px;
	overflow: hidden;
	/*right: 1px;*/
}

.title dd {
	display: block;
	float:right;
	clear: both;
	position: relative;
	overflow: hidden;
}


@media only screen and (min-width: 25em) { /*medium*/


#title {
  width: 400px ;
  margin-left: auto ;
  margin-right: auto ;
   right: 5em;
left: 5em;
}

/*
.title {
 width: 400px ;
 margin-left: auto ;
 margin-right: auto ;
 right: 5em;
left: 5em;
}
*/
.gray {
	float:left;
	padding:0;
}
.sea {
	float:left;
	padding:0;
		margin-left: -1.5em;

}
.creative {
	float: left;
	padding: 0;
	
}

}

/*@media only screen and (min-width: 38.4em) { /*medium*/
/*
.gray {
	float:left;
}
.sea {
	float:right;
}
.creative {
	float:left;
}
}
*/

@media only screen and (min-width: 52.5em) { /*large*/

.title {
  width: 700px ;
  margin-left: auto ;
  margin-right: auto ;
  right: 5em;
left: 5em;
}
.gray, .sea, .creative{
	float:left;
	transition: all;
	 margin-right: -.5em;
	margin-left: -.5em;
}


}






/*
hr { 
margin:0;
margin-left: -1em;
}*/

