@-moz-viewport { width: device-width; scale: 1;	}
@-ms-viewport { width: device-width; scale: 1;	}
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width, scale: 1; }
@viewport { width: device-width; scale: 1;	}



body{
	background-image:url(../images/wood_1.png);
	background-repeat:repeat;
}

.box {
	display: none;
	padding-top: 15em;
	width: 75%;
	max-width: 20em;
	margin-left:auto;
	margin-right:auto;
}

.box2 {
	display:block;
	padding-top: 0;
	max-width: 2em;
	margin-left:0m;
	margin-right:0em;
	margin-top: 3em;
}

.logostack {
	display: block;
}

.logo {		
	float:none;	
	display: block;
	width: 75%;
		/*box-shadow:0px 0px 10px 0px rgba(0, 0, 0, .5);*/
}

@media only screen and (min-width: 25em) { /*medium*/


.logostack {		
	display: none;
	width: 100%;
	margin-top: -10em;
		/*box-shadow:0px 0px 10px 0px rgba(0, 0, 0, .5);*/
}	

.logo {
	display: block;
}

}

@media only screen and (min-width: 38.4em) { /*medium*/

	.logostack {
		display: none;
	}
	.logo {
		display:block;
}
	.logostack {
		display: none;
	
}
}


@media only screen and (min-width: 52.5em) { /*large*/

.logostack {
	display: none;
}
.logo {
	display:block;
}
.box {
	display:block;
}
.box2 {
	display: none;
}
}






/*
hr { 
margin:0;
margin-left: -1em;
}*/

