@-moz-viewport { width: device-width; scale: 1;	}
@-ms-viewport { width: device-width; scale: 1;	}
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width, scale: 1; }
@viewport { width: device-width; scale: 1;	}



body{
	background-image:url(wood_1/wood_1.png);
	background-repeat:repeat;
}

.box {
	visibility:hidden;
	padding-top: 15em;
	width: 75%;
	max-width: 20em;
	margin-left:auto;
	margin-right:auto;
}

.box2 {
	visibility:visible;
	padding-top: 0;
	max-width: 2em;
	margin-left:0m;
	margin-right:0em;
	margin-top: -10em;
}

.logostack {
	visibility: hidden;		
}

.logo {		
	visibility: visible;		
	float:none;	
	display: block;
	width: 75%;
		/*box-shadow:0px 0px 10px 0px rgba(0, 0, 0, .5);*/
}


@media only screen and (min-width: 52.5em) {

.logostack {
	visibility:hidden;
}
.logo {
	visibility:visible;
}
.box {
	visibility:visible;
}
.box2 {
	visibility:hidden;
}

@media only screen and (min-width: 38.4em) {

	.logostack {
		visibility:hidden;
	}
	.logo {
		visibility:visible;
}
	.logostack {
		visibility:hidden;
	
}

@media only screen and (min-width: 25em) { 


.logostack {		
	visibility:visible;
	width: 100%;
	margin-top: -10em;
		/*box-shadow:0px 0px 10px 0px rgba(0, 0, 0, .5);*/
}	

.logo {
		visibility: hidden;
}

}





/*
hr { 
margin:0;
margin-left: -1em;
}*/

